.concept {
    width: 100%;
    background: linear-gradient(180deg, #A193861F 0% 40%, #A1938689 40% 100%);

    @include sp {
        background: linear-gradient(180deg, #A193861F 0% 25%, #A1938689 75% 100%);
    }
}

.concept-wrap {
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include sp {
        height: 28%;
    }
}

.concept-imge {
    display: flex;
    justify-content: space-between;

    .imge-large {
        width: 60%;
        @include sp {
            width: 50%;
        }
    }

    .imge-small {
        margin-left: 1.0rem;
        width: 40%;
        @include sp {
            width: 50%;
        }
    }
}

.concept-explan {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;

    @include sp {
        display: block;
        width: 90%;
    }

    h3 {
        margin-top: 90px;
        margin-bottom: 120px;
        
        @include sp {
            font-size: 1.8rem;
            margin-top: 50px;
            margin-bottom: 18px;
            text-align: center;
        }
    }

    p {
        width: 50%;
        font-size: 1.3rem;
        line-height: 2;
        margin-top: 70px;
        margin-bottom: 65px;

        @include sp {
            width: 100%;
            margin-top: 0px;
            padding-bottom: 65px;
        }
    }
}