.menu-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include sp {
        flex-direction: column;
    }
}

.menu {

    &-item {
        width: 26%;
        margin-bottom: 70px;

        @include sp {
            width: 100%;
        }
    }

    &-imge {
        width: 100%;

        image {
            width: 100%;
        }
    }
}

.menu__content {
    text-align: center;

    &__title {
        font-size: 3.0rem;
        margin-top: 37px;

        @include sp {
            margin: 30px auto;
            text-align: left;
        }
    }

    &__info {
        font-size: 1.4rem;
        line-height: 2;
        margin-top: 34px;
        text-align: left;
    }

    &__price {
        font-size: 1.4rem;
        font-weight: bold;
        text-align: right;
        margin-top: 34px;
    }
}