header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 60px 75px;
    position: absolute;
    z-index: 10;

    @include sp {
        background-color: #ffffff;
        padding: 20px 25px;
        display: flex;
        justify-content: space-between;
    }
}

.header {
    &-logo {
        font-size: 3.8rem;

        @include sp {
            font-size: 2.2rem;
        }
    }

    &-nav {
        width: 40%;
        line-height: normal;
        letter-spacing: normal;

        @include sp {
            display: none;
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-left: 15px;
            color: #707070;
        }
    }

}

.header-nav li {

    display: inline-block;
    padding-bottom: 4px;
    position: relative;

    &::after {
        display: block;
        content: "";
        border-bottom: 1px solid black;
        position: absolute;
        transition: .5s all;
        width: 0;
    }

    &:hover {
        color: black;

        &::after {
            width: 80%;
        }
    }
}

.ham {
    display: none;

    @include sp {
        width: 25px;
        height: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
            display: inline-block;
            width: 80%;
            height: 2px;
            background-color:black;
        
        &:last-child {
            width: 50%;
        }
        }
    }
}